@font-face {
    font-family: Nunito;
    src: url("../Unity-U1P1.github.io/Nunito/Nunito-VariableFont_wght.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(11, 12, 18);
    color: lightgray;
    font-family: Nunito;
}

/* This is for the info div contents (description at bottom of page) */
div.text-info h2 {
    font-weight: bold;
    font-size: 28px;
}

div.text-info p {
    font-size: 20px;
}

div.btns {
    
}

/* This list is for the learning objectives of the unit */
ul {
    list-style: none;
}
